<div class="border border-2 border-success">
  <h1 class="text-center text-">Welcome to our online Store</h1>
  <div class="d-flex p-2">
    <div>
      <img
        class="border border-2 border-success"
        src="./images/online.jpg"
        alt=""
      />
    </div>
    <div class="p-2">
      <h3>Lorem ipsum dolor sit amet consectetur.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta iusto
        perspiciatis quia Soluta iusto perspiciatis quial Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Placeat delectus suscipit minima
        architecto.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos
        repudiandae fugit debitis cumque in impedit eaque provident error non
        deleniti earum ratione voluptatem modi ut sapiente aliquid, id quis
        molestias!
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-primary">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse cumque,
          magni suscipit perferendis minus impedit.
        </li>
        <li class="list-group-item text-warning">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse cumque,
          magni suscipit perferendis minus impedit.
        </li>
        <li class="list-group-item text-danger">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse cumque,
          magni suscipit perferendis minus impedit.
        </li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad natus quia
        nobis tempore, atque odio officiis quidem commodi. Aperiam, mollitia
        neque excepturi esse architecto ex similique minima dolor ab ullam!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet omnis
        aliquid quaerat voluptas at facilis molestiae officiis amet, iure
        excepturi nulla illum, reprehenderit commodi quas est inventore. Sunt,
        ipsum explicabo?
      </p>
    </div>
  </div>
</div>
<div class="text-center m-5"><h2>News Products</h2></div>
<div class="row row-colms-3 d-flex justify-content-center my-5">
  <div class="card mx-5" style="width: 18rem">
    <img src="images/TV.jpg" class="card-img-top" alt="..." />
    <div class="position-absolute top-25 start-0 bg-danger rounded-pill p-1">
      New Product
    </div>
    <div class="card-body">
      <h5 class="card-title">TV</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero architecto
        tempora nemo repudiandae expedita inventore veritatis pariatur animi ab
        repellendus consectetur optio, hic quaerat! Totam doloribus quod ipsam
        dicta necessitati
      </p>
    </div>
  </div>
  <div class="card mx-5" style="width: 18rem">
    <img src="images/lamp.jpg" class="card-img-top" alt="..." />
    <div class="position-absolute top-25 start-0 bg-danger rounded-pill p-1">
      New Product
    </div>
    <div class="card-body">
      <h5 class="card-title">Lamp</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero architecto
        tempora nemo repudiandae expedita inventore veritatis pariatur animi ab
        repellendus consectetur optio, hic quaerat! Totam doloribus quod ipsam
        dicta necessitati
      </p>
    </div>
  </div>
  <div class="card mx-5" style="width: 18rem">
    <img src="images/blender.jpg" class="card-img-top" alt="..." />
    <div class="position-absolute top-25 start-0 bg-danger rounded-pill p-1">
      New Product
    </div>
    <div class="card-body">
      <h5 class="card-title">blender</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laudantium
        doloribus deserunt, dolore voluptatum maxime itaque dolores optio
        facilis minus in officia voluptate nulla provident culpa temporibus
        distinctio nesciunt aperiam!
      </p>
    </div>
  </div>
  <div class="text-center my-3">
    <h3>You can find all our products in the Products section</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sequi
      placeat cum laborum dicta. Magni error doloribus libero, tempore quod
      minus in non esse voluptatum ducimus fuga quam ipsum architecto!
      Asperiores recusandae odit, omnis eum, maiores tempora ipsa, iste aliquam
      excepturi numquam repellendus fugiat id. Obcaecati fugit nulla iure
      consectetur, nihil alias! Numquam obcaecati laboriosam voluptas culpa
      quasi ratione molestiae! Sequi sint possimus voluptatibus, aut laborum
      rerum pariatur placeat libero quo exercitationem! Illo dignissimos quae
      blanditiis inventore recusandae assumenda vero, sit reprehenderit nobis
      nisi laboriosam, et ab. Earum, animi magnam. Repudiandae, natus nulla.
      Reprehenderit accusantium, eaque quam eos accusamus error mollitia
      asperiores, expedita laudantium illo aliquam a debitis itaque vero
      deserunt eligendi cum neque tempora cupiditate iste explicabo consectetur
      unde? Facilis quia voluptates sunt aspernatur iusto sapiente officiis, nam
      eum accusamus accusantium? Molestias, omnis hic eligendi beatae dicta
      voluptate quasi id, autem, sapiente aperiam voluptatum libero quas
      corrupti cum placeat!
    </p>
  </div>
</div>
